<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Copyright (C) 2021 StatiX
    SPDX-License-Identifer: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.phone.sm6115.overlay">
    <application android:hasCode="false"/>
    <overlay
        android:isStatic="true"
        android:priority="80"
        android:targetPackage="com.android.phone"/>
</manifest>